page-menu {
  ion-card{
    .menuTitleBox{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      ion-card-title{
        margin-right: 5px;
      }
    }
    .ionCardTitle{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      ion-toggle{
        margin-left: 10px;
      }
    }

    .breakfast{
      width: 100%;
    }
  }
}
.submit-button{
  float:right
}
