<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>MENU</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <!--Breakfast-->
  <div *ngIf="breakfastTime">
    <h2>Breakfast</h2>

    <ion-card *ngFor="let food of breakfastInfo">

      <ion-card-title>{{ food.itemName }}</ion-card-title>
      <p>{{ food.price }}</p>

      <ion-card-content>

        <ion-label>{{food.description}}</ion-label>

        <ion-item *ngFor="let foodOptions of breakfastInfo">

        <ion-label>{{foodOptions.options}}</ion-label>
        <ion-checkbox></ion-checkbox>

      </ion-item>

      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
